.NavBar {
  background-color: white;
  color: black;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

#links {
  display: flex;
  gap: 40px;
  font-size: 16px;
  cursor: pointer;
}

#block {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#signIn {
  background-color: white;
  color: black;
  font-weight: bolder;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#signIn:hover {
  background-color: lightgray;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 30px 60px;
  flex-wrap: wrap;
}

#welcome {
  flex: 1;
  max-width: 600px;
  span {
    font-size: small;
  }
  a {
    color: grey;
    font-size: small;
    text-decoration: underline;
    cursor: pointer;
  }

  input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid;
    width: 250px;
    margin-top: 5px;
    margin-right: 8px;
    margin-bottom: 0;
  }

  button {
    padding: 10px;
    border-radius: 6px;
    font-size: 15px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
  }

  p {
    color: gray;
    font-size: large;
  }
}

#welcome h1 {
  font-size: xx-large;
}

#email {
  font-weight: bold;
}

#myImg img {
  height: fit-content;
  width: 475px;
  border-radius: 12px;
  object-fit: cover;
}

#logoTop {
  margin-top: 100px;
  font-size: medium;
  text-align: center;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px 20px;
  background-color: white;
}

#skill {
  margin: 25px;
  text-align: center;
  font-size: medium;
  h2 {
    font-size: xx-large;
    text-align: center;
  }
}

#skillPara {
  font-size: large;
  text-align: center;
  color: grey;
}

#mainSkill {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  margin: auto;
}

.subDiv {
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
    color: gray;
  }
}

#projects {
  text-align: center;
  margin: 50px;
  p {
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 10px;
    font-size: large;
    text-align: center;
    color: grey;
  }
}

#card {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
}

.subCard {
  padding: 10px;
  align-items: center;
  text-align: left;

  p {
    color: gray;
  }

  button {
    height: 40px;
    width: 110px;
    font-size: x-small;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: none;
  }
}

#mainResume {
  display: flex;
  gap: 200px;
  margin-left: 100px;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-right: 100px;
}

#resume {
  p {
    color: gray;
    font-size: 18px;
  }
  button {
    font-size: small;
    color: black;
    background-color: white;
    border: none;
    font-weight: bold;
  }
}

#resumeData {
  p {
    color: gray;
    font-size: large;
  }
}

#logoblk {
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 50px 20px;
  background-color: white;
  img {
    filter: grayscale(100%);
  }
}

#clients {
  text-align: center;
  margin-top: 100px;
  h4 {
    color: gray;
  }
}

#clientBox {
  text-align: center;
  margin-top: 100px;
  p {
    font-size: large;
    color: gray;
  }
}

#appDevelopment {
  display: flex;
  margin-top: 100px;
  margin-left: 155px;
  margin-right: 155px;
  gap: 190px;
  h1 {
    font-size: xx-large;
  }
  p {
    color: gray;
    font-size: large;
  }

  img {
    border-radius: 20px;
    width: 350px;
  }

  span {
    color: gray;
  }

  #p1 {
    margin-bottom: 0px;
    color: black;
    font-weight: bold;
  }
}

#profileRow {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  img {
    height: 50px;
    width: fit-content;
    border-radius: 5px;
    opacity: 50%;
  }
}

#profileRow:hover {
  img {
    opacity: 100%;
  }
}

.divider {
  display: inline-block;
  width: 2px;
  height: 50px;
  background-color: rgb(209, 205, 205);
}

#contactUs {
  text-align: center;
  margin-top: 150px;
  h1 {
    font-size: xx-large;
  }
  p {
    color: gray;
    font-size: large;
  }
}

#contactInfo {
  margin-top: 100px;
  border: 1px solid whitesmoke;
  box-shadow: 2px 2px 2px gray;
  border-radius: 10px;
  display: flex;
  gap: 100px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  margin-bottom: 300px;
}

#info {
  border: 1px solid black;
  padding: 80px;
  border-radius: 10px;
  height: 400px;
  width: 500px;
  color: white;
  background-color: black;
  p {
    color: gray;
    margin-bottom: 50px;
  }
}

#form {
  label {
    color: skyblue;
  }

  input {
    border: none;
    border-bottom: 1px solid skyblue;
    margin-top: 20px;
    width: 300px;
  }
  button {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    margin-left: 500px;
    margin-top: 100px;
  }
}

#form:hover {
  button {
    box-shadow: 2px 2px 2px gray;
  }
}

#nameField {
  display: flex;
  gap: 30px;
}

#emailField {
  margin-top: 25px;
  input {
    width: 635px;
  }
}

#intrested {
  margin-top: 25px;
  input {
    width: 50px;
    align-items: left;
  }
  span {
    font-size: large;
  }
}

#textBox {
  margin-top: 30px;
  textarea {
    border: none;
    border-bottom: 1px solid skyblue;
    margin-top: 40px;
    width: 635px;
  }
}

#linkss {
  display: flex;
  gap: 40px;
  font-size: large;
  cursor: pointer;
}

#footer {
  border-top: 1px solid rgba(0, 0, 0, 0.207);
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 1px;
  background: white;
  padding: 30px 10px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  gap: 150px;
  bottom: 0;
}

.footer1 {
  color: grey;
  font-size: 16px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer2 {
  color: grey;
  font-size: 16px;
  margin-top: 12px;
}

#subscribe {
  background: black;
  color: white;
  font-weight: bold;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  margin-top: -10px;
}
