#bulb {
  padding: 50px;
  border: 1px solid black;
  border-radius: 50%;
  width: fit-content;
}

button {
  margin: 10px;
}

#smartBulb {
  padding: 50px;
  border: 1px solid black;
  border-radius: 50%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.on {
  background-color: yellow;
}

#rainbowBulb {
  padding: 75px;
  border: 1px solid black;
  border-radius: 50%;
  width: fit-content;
}

.color {
  border: 1px solid black;
  border-radius: 50%;
  padding: 15px;
}
#colorPallet {
  display: flex;
  gap: 10px;
}

#c1 {
  background: violet;
}

#c2 {
  background: indigo;
}

#c3 {
  background:  blue;
}

#c4 {
  background: green;
}

#c5 {
  background: yellow;
}

#c6 {
  background: orange;
}

#c7 {
  background: red;
}
