#mainDiv
{
    border: 1px solid black;
    width: 700px;
    height: 700px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    

}

.subDiv
{
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: brown;
}