.NavBar {
  background-color: white;
  color: black;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

#bigMain {
  display: flex;
  justify-content: space-between;
}

#block {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

#signIn {
  background-color: white;
  color: black;
  font-weight: bolder;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

#links {
  display: flex;
  gap: 40px;
  font-size: 16px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  padding: 80px 60px;
  flex-wrap: wrap;
}

#welcome {
  flex: 1;
}

#welcome input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid;
  width: 250px;
  margin-right: 10px;
}

#email {
  font-weight: bold;
}

#emailIn {
  border: 1px solid black;
  width: 250px;
  margin: 10px 5px 10px 0;
}

#welcome button {
  padding: 10px;
  border-radius: 6px;
  font-size: 15px;
}

#welcome button {
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

#welcome a {
  color: grey;
  text-decoration: underline;
}

#myImg img {
  width: 500px;
  border-radius: 12px;
  object-fit: cover;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 50px 20px;
  background-color: white;
}

.logo div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

#logoTop {
  font-size: medium;
  text-align: center;
}

#skill {
  text-align: center;
  font-size: medium;
}

#skillHead {
  font-size: xx-large;
  text-align: center;
}

#skillPara {
  font-size: large;
  text-align: center;
  color: grey;
}

.front {
  text-align: center;
  font-size: large;
}

.frontPara {
  font-size: medium;
  text-align: center;
  color: grey;
}



#mainSkill div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

#projects{
  text-align: center;
}

#pro{
  font-size: medium;
  text-align: center;
  color: grey;
}